.flat-input
	display: block;
	width: 100%;
	max-width: 120px;
	color: #888888;
	border-radius: 4px;
	font-family: SourceSansPro-Regular, 'Arial';
	background-color: #e5e5e5;
	padding: 0.5rem 1rem;
	border: none;
	resize: none;