include ../market-helper/market-helper.pug
include ../search/search.pug

mixin market-header()
    +market-helper()
    .market-header
        h1
            a.market__brand(href="market.html")  Craft Market
        .market__search
            +search({button_theme: 'market', input_theme: 'market'})
        a(href="#" class="market-login__link") Вход
        a(href="#" class="market-registration__link") Регистрация
        a(href="#" class="market-helper__link" class="js-market-helper__link") Помощь
        a(href="#" class="market-basket__link") 0