.stuff
	display: flex; 
	flex-wrap: wrap;

	&__container
		margin: 0 auto;
		height: 100%;
		display: flex;
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;

	&__seller
		display: flex;
		margin-top: 2%;
		flex-wrap: wrap;

		&-reputation-text
			font-family: LatoWebBlack, 'Arial';
			text-align: center;

	&__element
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;

	&__name
		padding: 2% 0;
		font-family: LatoWebBlack, 'Arial';
		font-size: 2rem;

	&__photo
		width: 40%;
		height: 75%;