.seller
	display: flex;
	flex-wrap: wrap;

	& > *:first-child
		margin: 2% auto;

	& > *:last-child
		margin-bottom: 2%;

	&__events
		flex-basis: 100%;
		justify-content: space-around;
		display: flex;
		padding: 1% 0 1%;

	&__text
		flex-basis: 100%;
		text-align: center;
		font-family: LatoWebBlack, 'Arial';
		text-transform: uppercase;
		font-size: 1.2rem;

	&__stuff-img
		width: 180px;
		height: 150px;

	&__stuffs
		padding: 2% 0 2%;
		display: flex;
		flex-basis: 100%;
		justify-content: space-around;


	&__stuff
		flex-direction: column;
		align-items: center;
		outline: 1px solid black;
		outline-offset: 10px;
		display: flex;
		justify-content: center;

		& > *
			font-family: LatoWebBlack, 'Arial'

	&__stuff-name
		margin: 3% 0;

	&__bkg.user-profile__info
		background: darken(#E0AD82, 7);

	&__chat-bkg.messager__friend_name
		color: black;
		background: #D5D5D5;

	&__chat-text.messager__friend-information
		background: darken(#D5D5D5, 10);

	&__chat-button.standart-button__button
		box-shadow: 0 0.15rem 0 0 darken(#D5D5D5, 20);
		background-color: darken(#D5D5D5, 15);
		border: 1px solid darken(#D5D5D5, 15);

	&__helper-button_text.standart-button
			color: darken(#D5D5D5, 20);

	&__messager
		display: flex;
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 10;

		& > *:last-child
			flex: none;


	&__messager_hide
		width: 100%;
		font-size: 0.8rem;
		text-align: center;
		padding: 5px;
		cursor: pointer;
		text-transform: uppercase;
		font-family: LatoWebBlack, 'Arial';
		background-color: white;
		border: 1px solid rgba(0,0,0,0.1);
		flex: initial;
		writing-mode: vertical-rl;
		opacity: 0.4;

		&:hover
			opacity: 0.8;

	&__events-button.standart-button__button
		box-shadow: 0 0.15rem 0 0 darken(yellow, 10);
		background-color: yellow;
		border: 1px solid yellow;
		color: black;

	&__events-button-text.standart-button
		color: black;

	&__event_bkg.event__text, &__news_bkg.news__text
		background: black;

.seller__stuffs:last-of-type
		padding-bottom: 0;


.seller__comments-body {
	display: flex;
	flex-wrap:  wrap;
	margin: 0 auto;
	flex-basis: 51%;
}

.seller__comments-item {
	background: #E5E5E5;
	padding: 5px 10px;
	margin: 1rem 0 2rem;
	border-radius: 10px;
}

.seller__seller__comments-body li {
	margin-bottom: 20px;
}

.seller__comments-title {
	padding:  10px;
	text-transform: uppercase;
	font-weight: bold;
}

.seller__comments-list {
	list-style-type: none;
	width: 100%;
}

.seller__comments-item h3 {
	position: relative;
	font-family: SourceSansPro-Regular, 'Arial';
	border-width:  10px;
	font-size: 1rem;
	border-right-color:  #E5E5E5;
}

.seller__comments-item h3 {
	position:  relative;
	margin-top:  0;
	padding:  0 55px 5px 0;
	border-bottom:  2px solid rgba(0, 0, 0, .2);
}

.seller__comments-item a {
	font-size:  14px;
	position:  absolute;
	top:  5px;
	right: 0;
	transition:  opacity .3s linear;
	text-decoration: none;
	letter-spacing:  1px;
	opacity: .7;
	color:  #fff;
	will-change: transform;
}

.seller__comments-item a:hover {
	opacity: 1;
}

.seller__comments-comment {
	padding: 0.4rem;
	font-family: SourceSansPro-Regular, 'Arial';
}

.seller__comments-form {
	flex-basis: 51%;
	margin: 0 auto;
}

.seller__comments-btn.standart-button__button
		box-shadow: 0 0.15rem 0 0 darken(#D5D5D5, 20);
		background-color: darken(#D5D5D5, 15);
		border: 1px solid darken(#D5D5D5, 15);

.seller__comments-btn-text.standart-button
			color: darken(#D5D5D5, 20);