$news-background-color = #E75735;
$text-color = #FFF;

.news
    display: flex;
    height: 13.3rem;
    max-width: 15.65rem;

    &__photo
        background: $news-background-color;
        width: 38%;
        object-fit: cover;

    &__text
        display: flex;
        flex-direction: column;
        padding: 7.5%;
        background-color: $news-background-color;
        color: $text-color;
        min-width: 62%;

        & > *:not(:first-child)
            margin-top: 6.5%;

    &__title
        font-family: LatoWebLight, 'Arial';
        font-size: 1.7rem;
        line-height: 1.7rem;
        overflow: hidden;
        text-overflow: ellipsis;

    &__date
        text-transform: uppercase;
        font-family: LatoWebBlack, 'Arial';
        font-size: 0.75rem;

    &__description
        font-family: LatoWeb, 'Arial';
        overflow: hidden;
        font-size: 0.75rem;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;