.container
	margin: 0 auto;
	width 707px;

	h2
		text-transform: uppercase;
		display: block;
		text-align: center;
		font-family: LatoWebBlack;
		font-size: 1.25rem;

	.standart-button
		margin-left: 24px;

	.percentages
		margin-left: 20px;

	.pie-chart
		margin-left: 24px;

	.arrow-button
		margin-left: 24px;

	&__center
		text-align: center;

	&__left
		width: 50%;
		float: left;

	&__right
		width: 50%;
		float: right;

	&__sliders-position
		padding-left: 10%;
		padding-bottom: 6%;