include ./../../blocks/messager/messager.pug
include ./../../blocks/search/search.pug
include ./../../blocks/standart-button/standart-button.pug
include  ./../../blocks/user-profile/user-profile.pug
include  ./../../blocks/percentages/percentages.pug
mixin market__header()
    .market__helper
        .market__helper_close close
        .market__helper-wrapper
                +messager({
                    theme_name: 'helper',
                    theme_info: 'helper',
                    name: 'Support',
                    photo: '.\\pages\\market\\img\\helper.jpg',
                    theme: 'helper'
                })
    .market__header
        h1
            a.market__brand(href="market.html")  Craft Market
        .market__search
            +search({button_theme: 'market', input_theme: 'market'})
        a(href="#" class="market__login-link") Вход
        a(href="#" class="market__registration-link") Регистрация
        a(href="#" class="market__helper-link") Помощь
        a(href="#" class="market__basket-link") 0

mixin market__stuffs(options)
    .js-market__stuff-container.market__stuff-container
        +arrow-button({state: 'inactive', direction: 'left', color: 'grown'})
        .market__stuff-slider
            ul.market__slides
                each option in options
                    li.market__slide
                        .market__stuff
                            img.market__stuff-img(src= option.imgsrc)
                            a.market__stuff-name(href=option.name)= option.name
                            div.market__stuff-price= option.price + ' ₽'
                            +standart-button({type: 'normal', size: 'normal', text: 'купить', theme: 'buy'})
        +arrow-button({state: 'inactive', direction: 'right', color: 'grown'})

mixin market__seller(options)
        .market__seller
            +user-profile({imgsrc: options.imgsrc, name: options.name, proffesion: options.city, theme: options.theme
            })
            .market__seller-reputation
                .market__seller-reputation-text Репутация
                +percentages(options.rep ? options.rep : 0)