mixin messager()
	.messager
		.messager__chatlogs
			.messager__chat.messager__friend
				p.messager__message What's up, Brother..!!
			.messager__chat.messager__self
				p.messager__message What's up..!!
			.messager__chat.messager__friend
				p.messager__message.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					Mollitia laborum veritatis molestiae aliquam iusto officia sed 
					deleniti quidem laboriosam. Dolor sapiente consequuntur nobis 
					officia qui, distinctio provident, dolores veritatis voluptatibus!
			.messager__chat.messager__self
				p.messager__message.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					Mollitia laborum veritatis molestiae aliquam iusto officia sed 
					deleniti quidem laboriosam. Dolor sapiente consequuntur nobis 
					officia qui, distinctio provident, dolores veritatis voluptatibus!
			.messager__chat.messager__friend
				p.messager__message.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					Mollitia laborum veritatis molestiae aliquam iusto officia sed 
					deleniti quidem laboriosam. Dolor sapiente consequuntur nobis 
					officia qui, distinctio provident, dolores veritatis voluptatibus!
		.messager__form
			textarea
			button Send
