include ../standart-button/standart-button.pug

mixin messager(options)
    if !options
        - options = {}
    .messager
        .messager__friend
            .messager__friend_name(class= options.bkg_name ? options.bkg_name : '')= options.name ? options.name : 'Sarah Brown'
            .messager__friend-information(class= options.bkg_info ? options.bkg_info : '')
                .messager__vertical-position
                    img(src= options.photo ? options.photo : '.\\blocks\\messager\\img\\messager__default-avatar.jpg', alt='avatar',
                    class='messager__friend-information_photo')
        .messager__actions
            a(class="messager__actions_message", href="#")
            a(class="messager__actions_photo", href="#")
        .messager__chatlogs
            .messager__chat.messager__chat_friend
                p.messager__message Hey! So are we cool to meet at the art gallery? Say 8pm
            .messager__chat.messager__chat_self
                p.messager__message What's up..!!
            .messager__chat.messager__chat_friend
                p.messager__message.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia laborum veritatis molestiae aliquam iusto officia sed 
                    deleniti quidem laboriosam. Dolor sapiente consequuntur nobis 
                    officia qui, distinctio provident, dolores veritatis voluptatibus!
            .messager__chat.messager__chat_self
                p.messager__message.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia laborum veritatis molestiae aliquam iusto officia sed 
                    deleniti quidem laboriosam. Dolor sapiente consequuntur nobis 
                    officia qui, distinctio provident, dolores veritatis voluptatibus!
            .messager__chat.messager__chat_friend
                p.messager__message.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia laborum veritatis molestiae aliquam iusto officia sed 
                    deleniti quidem laboriosam. Dolor sapiente consequuntur nobis 
                    officia qui, distinctio provident, dolores veritatis voluptatibus!
        .messager__form
            .messager__textarea
                textarea
            .messager__button-reply
                +standart-button({
                                    type: 'nomral',
                                    size: 'normal',
                                    text: 'reply',
                                    bkg: options.btn_bkg,
                                    text_color: options.btn_clr
                })