mixin calendar()
    .calendar
        input(readonly, class="calendar__day" class="js-calendar__day")
        .js-calendar
        div(class="js-calendar__button_today" class="calendar__button_today") today
