.calendar
	max-width: 17rem;

	& .ui-datepicker-year
		display: none;

	& .ui-datepicker
		padding: 0;
		max-width: 17.45rem;

	& .ui-datepicker table
		margin: 0 0 .1em;

	& .ui-widget.ui-widget-content
		border: none;

	& .ui-corner-all,
	& .ui-corner-bottom,
	& .ui-corner-right,
	& .ui-corner-br
		border: none;
		border-radius: 0;

	& .ui-widget-content .ui-state-active, 
	& .ui-widget-header .ui-state-active, 
	& a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover,
	& .ui-state-default.ui-state-highlight.ui-state-active
		background: #E75735;
		color: white;
		border: none;

	& .ui-widget-content .ui-state-highlight
		border: none;
		background-color: #F6F6F6;
		color: #868686;

	& .ui-widget-content .ui-state-default
		border: none;

	& .ui-datepicker-calendar thead
		background: #e75735;
		color: #FFF;
		font-family: LatoWebBlack, 'Arial';
		text-transform: uppercase;
		font-size: 10px;

	& .ui-datepicker-calendar tbody a,
	& .ui-datepicker-calendar tbody span
		color: #868686;
		background: #F2F2F2;
		font-family: SourceSansPro-Regular, 'Arial';
		font-size: 1.25rem;
		padding: 0.335em;
		text-align: -webkit-center;

	& .ui-datepicker-calendar tbody span
		color: #FFF;

	& .ui-state-disabled,
	& .ui-widget-content .ui-state-disabled
		opacity: 1;

	& .ui-datepicker .ui-datepicker-title
		color: #FFF;
		font-family: LatoWebLight;
		font-size: 1.4rem;
		font-weight: normal;

	& .ui-datepicker .ui-datepicker-header
		background: #d54c2c;

	& .ui-icon.ui-icon-circle-triangle-e,
	& .ui-icon.ui-icon-circle-triangle-w
		display: none;

	& .ui-datepicker-prev,
	& .ui-datepicker-next
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		cursor: pointer;

	& .ui-datepicker-prev.ui-datepicker-prev-hover,
	& .ui-datepicker-next.ui-datepicker-next-hover
		background-color: inherit
		border-radius: 0;
		font-weight: inherit;
		border: 1px solid #d54c2c;

	& .ui-datepicker-prev > *,
	& .ui-datepicker-prev.ui-datepicker-prev-hover > *,
	& .ui-datepicker-next > *,
	& .ui-datepicker-next.ui-datepicker-next-hover > *
		display: none;

	& .ui-datepicker-prev::after
		font-family: FontAwesome;
		content: '\f104';
		color: white;

	& .ui-datepicker-next::after
		font-family: FontAwesome;
		content: '\f105';
		color: white;

	&__button_today
		text-transform: uppercase;
		cursor: pointer;
		color: #868686;
		background: #e5e5e5;
		font-family: LatoWebBlack;
		font-size: 0.9rem;
		padding: 1rem 0.6rem 1rem 1.2rem;

	&__day
		border: none;
		display: block;
		width: 100%;
		background-color: #e75735;
		color: white;
		font-family: LatoWebLight, 'Arial';
		font-size: 4.85rem;
		text-align: center;
		padding-top: 1rem;