@font-face {
	font-family: 'SourceSansPro-Light';
	src: url('SourceSanPro/SourceSansPro-Light.eot');
	src: local('☺'), url('SourceSanPro/SourceSansPro-Light.woff') format('woff'), url('SourceSanPro/SourceSansPro-Light.ttf') format('truetype'), url('SourceSanPro/SourceSansPro-Light.svg') format('svg');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro-Regular';
	src: url('SourceSanPro/SourceSansPro-Regular.eot');
	src: local('☺'), url('SourceSanPro/SourceSansPro-Regular.woff') format('woff'), url('SourceSanPro/SourceSansPro-Regular.ttf') format('truetype'), url('SourceSanPro/SourceSansPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


