mixin stages(options)
    if !options
        - options = {}
    - var stages = 0;
    .stages
        - for (var i = 0; i < options.completed - 1; i++, stages++)
            .stages__step.stages__step_active=stages+1
            .stages__line.stages__line_active
        .stages__step.stages__step_active=stages+1
        .stages__line
        - stages++
        - for (var i = 0; i < options.count - options.completed - 1; i++, stages++)
            .stages__step=stages+1
            .stages__line
        .stages__step=stages+1