
<ol class="stages">
	<li class="stages_complete" data-step="1">
	</li>
	<li class="stages_complete" data-step="2">
	</li>
	<li class="stages_active" data-step="3">
	</li>
	<li data-step="4">
	</li>
	<li data-step="5">
	</li>
</ol>

