$stages-bkg-color = #e5e5e5;
$stages-color = #A4A4A4;
$active-background = #E75735;
$active-color = #FFF;

.stages
    display: flex;
    justify-content: space-between;

    &__step
            background: $stages-bkg-color;
            color: $stages-color;
            border-radius: 50%;
            min-width: 1.8rem;
            min-height: 1.8rem;
            font-size: 0.8rem;
            text-align: center;
            line-height: 1.8rem;
            font-family: LatoWebBlack, 'Arial';

    &__step.stages__step_active
        background: $active-background;
        color: $active-color;

    &__line
            background: $stages-bkg-color;
            display: block;
            width: 100%;
            height: 0.5rem;
            align-self: center;

    &__line.stages__line_active
        background: $active-background;