mixin stages(count, completed)
	-var stages = 0;
	ol.stages
		-for (var i = 0; i < completed-1; i++, stages++)
			li(class='stages_complete' data-step=stages+1)

		li(class='stages_active' data-step=stages=stages+1)

		-for (var i = 0; i < count-completed; i++, stages++)
			li(data-step=stages+1)
