.market

    &__header
        display: flex;
        font-family: LatoWebBlack, 'Arial';
        background-color: #E0AD82;
        width: 100%;

        & > *:first-child
            margin-left: 3%;

        & > *
            margin-top: 1%;
            margin-bottom: 1%;
            margin-right: 2%;

        & > a:first-of-type
            margin-left: 10%;
