$standart-button-color = #4eb7a8;
$standart-button-shadow-color = #28a290

.standart-button
	position: relative;
	display: inline-block;
	color: $standart-button-color;

	&__button
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		cursor: pointer;
		outline: none;
		width: 100%;
		padding: 1rem 2rem 1rem 2rem;
		background-color: $standart-button-color;
		border-radius: 0.25rem;
		border: 0.1rem solid $standart-button-color;
		box-shadow: 0 0.25rem 0 0 $standart-button-shadow-color;
		font-family: LatoWebBlack, 'Arial';
