$standart-button-color = #4eb7a8;
$standart-button-shadow-color = #28a290

$standart-button-error-color = #e75735
$standart-button-error-shadow-color = #bf3e1f

$button-text-color = #FFF;
$inverted-button-background-color = #FFF;

.standart-button
    position: relative;
    display: inline-block;
    color: $standart-button-color;

    &__button
        color: $button-text-color;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        outline: none;
        width: 100%;
        background-color: $standart-button-color;
        border-radius: 4px;
        border: 1px solid $standart-button-color;
        box-shadow: 0 0.15rem 0 0 $standart-button-shadow-color;
        font-family: LatoWebBlack, 'Arial';

    &_size-normal &__button
        font-size: 0.8rem;
        padding: 0.6rem 2rem 0.45rem;

    &_size-small &__button
        font-size: 0.65rem;
        padding: 0.2rem 1rem;

    &_type-error
        color: $standart-button-error-color;

    &_type-error &__button
        background-color: $standart-button-error-color;
        border-color: $standart-button-error-color;
        box-shadow: 0 0.15rem 0 0 $standart-button-error-shadow-color;

    &_pressed &__button
        box-shadow: none;

    &.standart-button_inverted &__button
        background-color: $inverted-button-background-color;
        color: inherit;

    &_ripple-effect
        width: 0;
        height: 0;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.4);
        transform: scale(0);
        position: absolute;
        opacity: 1;

    &_ripple-animation
        animation: ripple-drop .5s linear;

    &_theme_buy.standart-button__button
        box-shadow: 0 0.15rem 0 0 darken(#8EC0F4, 10);
        background-color: #8EC0F4;
        border: 1px solid #8EC0F4;

    &_theme_buy.standart-button
        color: darken(#8EC0F4, 10)

    &_theme_helper.standart-button__button
        box-shadow: 0 0.15rem 0 0 darken(#E0AD82, 20);
        background-color: darken(#E0AD82, 15);
        border: 1px solid darken(#E0AD82, 15);

    &_theme_helper.standart-button
        color: darken(#E0AD82, 20)

    &_theme_payment.standart-button__button
        box-shadow: 0 0.15rem 0 0 darken(#D69259, 10);
        background-color: #D69259;
        border: 1px solid #D69259;

    &_theme_payment.standart-button
        color: darken(#D69259, 10)

    &_theme_seller.standart-button__button
        box-shadow: 0 0.15rem 0 0 darken(#D5D5D5, 20);
        background-color: darken(#D5D5D5, 15);
        border: 1px solid darken(#D5D5D5, 15);

    &_theme_seller.standart-button
        color: darken(#D5D5D5, 20);


    &_theme_event-yellow.standart-button__button
        box-shadow: 0 0.15rem 0 0 darken(yellow, 10);
        background-color: yellow;
        border: 1px solid yellow;
        color: black;

    &_theme_event-yellow.standart-button
        color: black;


    &_theme_feedback.standart-button__button
        box-shadow: 0 0.15rem 0 0 darken(#D5D5D5, 20);
        background-color: darken(#D5D5D5, 15);
        border: 1px solid darken(#D5D5D5, 15);

    &_theme_feedback.standart-button
        color: darken(#D5D5D5, 20);


@keyframes ripple-drop {
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}
