$avatar-background = #E5E5E5;
$info-background = #4eb7a8;
$info-text = #FFF;

$profile-active-background = #E5E5E5;
$profile-active-text = #757575;
$profile-active-name = #E75735

$link-color = #FFF;
$link-active = #757575;
$link-active-hover = #E75735;

.user-profile
    display: flex;

    &__avatar
        width: 88px;
        height: 88px;
        background-size: cover;
        background-position: center;
        border: 3px solid $avatar-background ;
        border-radius: 50%;
        align-self: center;

    &__name
        font-family: LatoWeb, 'Arial';
        text-align: center;
        font-size: 1.15rem;
        word-wrap: break-word;

    &__proffesion
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: LatoWebBlack, 'Arial';
        text-transform: uppercase;
        text-align: center;
        font-size: 0.78rem;

    &__info
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 9.4rem;
        background-color: $info-background;
        color: $info-text;
        margin-left: 0.7rem;
        position: relative;
        border-radius: 9px;
        padding: 0.4rem;

        &_active
            background-color: $profile-active-background;
            color: $profile-active-text;

            & .user-profile__name
                color: $profile-active-name;

        &:before
            content: " ";
            height: 0.7rem;
            width: 0.7rem;
            position: absolute;
            background-color: inherit;
            left: -5px;
            top: 45%;
            transform: rotate(45deg);

    &__links
        font-family: FontAwesome;
        font-size: 1.65rem;
        display: flex;
        padding-top: 0.2rem;

        & > *:nth-child(2n)
            margin: 0 1rem;

        & > *:first-child
            margin-left: auto;

        & > *:last-child
            margin-right: auto;

    &__link
        color: $link-color;
        text-decoration: none;
        cursor: default;

        &.user-profile__links_active
            color: $link-active;
            cursor: pointer;

        &.user-profile__links_active:hover
            color: $link-active-hover;

        &_facebook:after
            content: "\f09a";

        &_twitter:after
            content: "\f099";

        &_dribbble:after
            content: "\f17d";

    &_theme_seller
        background: darken(#E0AD82, 7);

    &_theme_gold-seller
        background: gold;

    &_theme_silver-seller
        background: silver;

    &_theme_bronze-seller
        background: #cc9966;