mixin tick-box(options)
    if !options
        - options = {}
    .js-tick-box.tick-box(class= options.state ? 'tick-box__mark-active' : '', class=options.theme ? 'tick-box_theme_' + options.theme : '')

