$option-backogrund-color = #4EB7A8;
$option-color = #FFF;

$select-background-color = #E5E5E5;
$select-color = #888;

$drop-down-arrow-color = #FFF;

.drop-down
    display: flex;
    position: relative;

    &__option
        background-color: $option-backogrund-color;
        color: $option-color;

    &__select
        font-family: SourceSansPro-Regular, 'Arial';
        width: 100%;
        background-color: $select-background-color;
        color: $select-color;
        padding: 0.35rem 0.85rem;;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: none;
        outline: none;


    &::before
        content: "\f107";
        font-family: FontAwesome;
        pointer-events: none;
        width: 2.05rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: $option-backogrund-color;
        color: $drop-down-arrow-color;
        font-size: 1.6rem;

    &__option_theme_order
        background: lighten(#D69259, 10);

    &_theme_order.drop-down::before
        background: lighten(#D69259, 10);