.drop-down
	max-width: 18rem;
	display: flex;
	position: relative;

	&__option
		background-color: #4eb7a8;
		color: white;

	&__select
		font-family: SourceSansPro-Regular, 'Arial';
		width: 100%;
		background-color: #e5e5e5;
		color: #888888;
		padding: 0.35rem 0.85rem;;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border: none;


	&::before
		content: "\f107";
		font-family: FontAwesome;
		pointer-events: none;
		width: 2.05rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		background-color: #4eb7a8;
		color: white;
		font-size: 1.6rem;
