include ./../messager/messager.pug
include ./../search/search.pug
include ./../standart-button/standart-button.pug
include ./../user-profile/user-profile.pug
include ./../percentages/percentages.pug
mixin market__header()
	.market__helper
		.market__helper_close close
		+messager({
			bkg_name: 'market__helper_bkg',
			bkg_info: 'market__helper-info_bkg',
			name: 'Support',
			photo: '.\\blocks\\market\\img\\helper.jpg',
			btn_bkg: 'market__helper-button',
			btn_clr: 'market__helper-button_text'
		})
	.market__header
		h1
			a.market__brand(href="market.html")  Craft Market
		.market__search
			+search({bkg: 'market__search-submit-bkg', nf: 'market__search-submit-not-found'})
		a(href="#" class="market__login-link") Вход
		a(href="#" class="market__registration-link") Регистрация
		a(href="#" class="market__helper-link") Помощь
		a(href="#" class="market__basket-link") 0

mixin market__stuff(options)
	.market__stuff-container
		+arrow-button({state: 'inactive', direction: 'left', color: 'market__arrow-button_blue'})
		.market__stuff-slider
			ul.market__slides
				each option in options
					li.market__slide
						.market__stuff
							img.market__stuff-img(src= option.imgsrc)
							a.market__stuff-name(href=option.name)= option.name
							div.market__stuff-price= option.price + ' ₽'
							+standart-button({type: 'normal', size: 'normal', text: 'купить', bkg: 'market__buy-button', text_color: 'market__buy-button-text'})
		+arrow-button({state: 'inactive', direction: 'right', color: 'market__arrow-button_blue'})

mixin market__seller(options)
		.market__seller
			+user-profile({imgsrc: options.imgsrc, name: options.name, proffesion: options.city, bkg: options.bkg
			})
			.market__seller-reputation
				.market__seller-reputation-text Репутация
				+percentages(options.rep ? options.rep : 0)