doctype html
html(lang="en")
  head
    title Site_2
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    script(src= 'https://maps.googleapis.com/maps/api/js')
  body
  include blocks/arrow-button/arrow-button.pug
  include blocks/percentages/percentages.pug
  include blocks/pie-chart/pie-chart.pug

  +arrow-button('left', 'inactive')
  +arrow-button('right', 'inactive')
  +arrow-button('left', 'disabled')
  +arrow-button('right', 'disabled')
  +arrow-button('left', 'enabled')
  +arrow-button('right', 'enabled')

  include blocks/standart-button/standart-button.pug

  +standart-button('normal','small','button')
  +standart-button('normal','normal','button')
  +standart-button('error','normal','button')
  +standart-button('error','small','button')

  include blocks/slider-discret/slider-discret.pug
  +slider-discret()
  br
  br
  include blocks/slider-continuous/slider-continuous.pug
  +slider-continuous()
  include blocks/stages/stages.pug
  +stages(5,3)
  br
  br
  include blocks/toggle/toggle.pug
  +toggle('on','off')
  br
  br
  include blocks/tick-box/tick-box.pug
  +tick-box()
  br
  br
  include blocks/feedback/feedback.pug
  +feedback()
  br
  br
  include blocks/search/search.pug
  +search()
  br
  br
  include blocks/drop-down/drop-down.pug
  +drop-down(['Orange','Apple','Pear'])
  br
  br
  include blocks/user-profile/user-profile.pug


  +user-profile({
  imgsrc: 'http://static.tumblr.com/u7rwwlh/nyNm6v1n7/tonyavatar.png',
  name: 'John Smith',
  proffesion: 'developer',
  'facebook':'123',
  'twitter':'321',
  'dribbble':'hah'
  })

  +user-profile()

  br
  br
  include blocks/news/news.pug
  +news({
    imgsrc: 'http://static.tumblr.com/u7rwwlh/nyNm6v1n7/tonyavatar.png',
    title: 'It\'s all going downhill',
    date: '24 august 2014',
    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.'
  })
  br
  br
  include blocks/event/event.pug
  +event({
    imgsrc: 'http://static.tumblr.com/u7rwwlh/nyNm6v1n7/tonyavatar.png',
    title: 'this is the title',
    day: '24',
    month: 'aug',
    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
  })
  br
  br
  include blocks/location/location.pug
  +location()
  include blocks/messager/messager.pug
  +messager()