doctype html
html(lang="en")
  head
    title Site_2
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  body
  include blocks/arrow-button/arrow-button.pug
  include blocks/percentages/percentages.pug
  include blocks/pie-chart/pie-chart.pug
  +arrow-button('left', 'inactive')
  +arrow-button('right', 'inactive')
  +arrow-button('left', 'disabled')
  +arrow-button('right', 'disabled')
  +arrow-button('left', 'enabled')
  +arrow-button('right', 'enabled')