include ../../user-profile/user-profile.pug
include ../../percentages/percentages.pug

mixin market__seller(options)
        .market__seller
            +user-profile({imgsrc: options.imgsrc, name: options.name, proffesion: options.city, theme: options.theme
            })
            .market__seller-reputation
                .market__seller-reputation-text Репутация
                +percentages(options.rep ? options.rep : 0)